:root{

}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit; 
}

body {
  min-width: 320px;

  background-color: #000;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.btn-reset{
  padding: 0;

  cursor: pointer;

  border: none;
  background-color: transparent;
}

.btn {
  padding: 1em 1.5em;

  text-align: center;

  color: #fff;
  border: none;
  border-radius: 0.3em;
  outline: none;
  background-color: #000;

  font-size: 1.1em;
}

.hide{
  display: none;
}

.container {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}
.game-title{
  margin: 0;
  margin-bottom: 0.6em;

  text-align: center;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding: 1em;

  transform: translate(-50%, -50%);

  border-radius: 0.6em;
  background-color: #fff;
  box-shadow: 0 0.9em 2.8em rgba(86,66,0,0.2); 
}

.controls-box{
}

.game-box{
}
.stats-container {
  margin-bottom: 1.2em;

  text-align: right;
}
.stats-container span {
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-descr{
  margin: 0;
  margin-bottom: 0.6em;
}

.input-number {
  margin-bottom: 1.2em;
  padding: 1em 2.5em;

  border: 1px solid #000;
  border-radius: 0.6em;
}

.game-container {
  position: relative;

  display: grid;

  box-sizing: content-box;
  width: 100%;
  max-width: 50%;
  height: 100%;
  margin-bottom: 1.2em;

  gap: 0.3em;
}

.card-container {
  position: relative;

  display: flex;

  width: 4.25em;
  height: 4.25em;

  cursor: pointer;
}

.card-before,
.card-after {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  transition: transform 0.5s ease-out;

  border: 4px solid #000000;
  border-radius: 5px;

  font-size: 2.8em;
  font-weight: 600;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.card-before { 
  color: #fff;
  background-color: #000;
}
.card-after {
  transform: rotateY(180deg);

  background-color: #ffffff;
}
.card-container.flipped .card-before {
  transform: rotateY(180deg);
}
.card-container.flipped .card-after {
  transform: rotateY(0deg);
}

#result {
  text-align: center;
}
#result h2 {
  margin: 0;

  font-size: 2.5em;
}
#result h4 {
margin: 0;

  font-size: 1.8em;
}

@media(max-width:1600px){
  .card-before,
  .card-after {
    font-size: 2.25em;
  }
}

@media(max-width:1200px){
  .card-before,
  .card-after {
    border: 2px solid #000000;

    font-size: 1.75em;
  }
}

@media(max-width:900px){
  .game-container{
    gap: 0.1em;
  }
  .card-before,
  .card-after {
    font-size: 1.25em;
  }
}